<div class='row'>             
    <h3>Algemene gegevens</h3>		
    <div id="childId" style="display: none;">{{{ data.id }}}</div>		
    <table id='generalTable' class="table table-striped table-bordered">
        <tbody>
            <tr>
                <td>Naam</td>
                <td class='dataTableSecondRow' id="childName">{{{ data.firstName }}} {{{ data.lastName }}}</td>
            </tr>
            <tr>
                <td>Leeftijd</td>
                <td class='dataTableSecondRow'>{{{ data.age }}}</td>
            </tr>
            <tr>
                <td>Startnummer</td>
                <td class='dataTableSecondRow'>{{{ data.startNumber }}}</td>
            </tr>
            <tr>
                <td>Adres</td>
                <td class='dataTableSecondRow'>{{{ data.adres }}}</td>
            </tr>
            <tr>
                <td>Woonplaats</td>
                <td class='dataTableSecondRow'>{{{ data.city }}}</td>
            </tr>
            <tr>
                <td>Postcode</td>
                <td class='dataTableSecondRow'>{{{ data.postalCode }}}</td>
            </tr>
            <tr>
                <td>Telefoonnummer ouders</td>
                <td class='dataTableSecondRow'>{{{ data.phoneNumber }}}</td>
            </tr>
        </tbody>
    </table>
    
    <h3>Medische gegevens</h3>				
    <table id='medicalTable' class="table table-striped table-bordered">
        <tbody>
            <tr>
                <td>Classificaties</td>
                <td class='dataTableSecondRow'>{{{ data.classifications }}}</td>
            </tr>
            <tr>
                <td>Medicatie</td>
                <td class='dataTableSecondRow'>{{{ data.medication }}}</td>
            </tr>
            <tr>
                <td>Bijzonderheden</td>
                <td class='dataTableSecondRow'>{{{ data.extra }}}</td>
            </tr>              
        </tbody>
    </table>
</div>