<div class='col-md-12'>
    <h3>Berichtenbox</h3>
    
    <form action="/berichten" method="post" id="msgForm">
        <input type="hidden" name="_csrf" value="{{csrf}}">                
        <p><label for="to">Aan</label><input class="form-control" type="text" name="name" placeholder="Naam"></p>
    </form>
    <p><label for="msg">Bericht</label>
    <textarea class="form-control" form="msgForm" rows="5" name="msg" placeholder="Bericht"></textarea></p>
    
    <span class="error-block">{{errors.name}}</span><span class="error-block">{{errors.message}}</span>
    
    <input form="msgForm" type="submit" class="btn btn-default" value="Send">
    <hr>

    <lu class="list-group">
    {{#each messages}}
        <li class="list-group-item">{{ this.from }} {{ this.msg }} {{this.date}}</li>
    {{/each}}
    </lu>
</div>

