<div class='col-md-12'>
    <h3>Berichtenbox</h3>
</div>
<div class='col-md-4' id="leftSideMessage">    
    
    <div class='row'>
        <select class="selectpicker" id="newContactList" data-live-search="true" data-show-subtext="true">
        </select>
        <button id="startChat" class="btn btn-default">Nieuwe gesprek</button>
    </div>
    <br>
    <div class='row contactList'>
        {{#each conversations}}
            <div class="panel contactPanel {{#if (if_ql this.id ../chatid )}} contactPanelActive {{else}} contactPanelNotActive {{/if}}" ref="{{ this.id }}">
                <div class="panel-body contactBody">{{ this.name }} <br> {{ this.role }}</div>
            </div>    
        {{/each}}
    </div>
</div>
<div class='col-md-8'>   
    <div class="row messages" id="messageList">
            {{#each messages}}
                <div class="panel col-md-12 messagePanel">
                    <div class="col-md-12 row panel-body message {{#if (if_ql this.sender_guid ../ownid )}} ownMessage {{else}} recievedMessage {{/if}}">{{ this.body }}</div>
                </div>
            {{/each}}
    </div>
    <div class="row">
        <span class="error-block">{{errors.name}}</span><span class="error-block">{{errors.message}}</span>
        <form id="msgForm">
            <input type="hidden" name="_csrf" id="csrf" value="{{csrf}}">                
        </form>
        <textarea class="form-control floatLeft" form="msgForm" rows="5" id="msgField" name="msg" placeholder="Bericht"></textarea>
        
        <button id="sendMsgBtn" class="btn btn-default floatRight">Verstuur</button>
    </div>
</div>
<script src="/javascripts/messages.js"></script> 
