<div class='col-md-12'>         
    <h2>Gegevens pagina van {{data.first_name}} {{ data.last_name }}</h2> 
    <div>
        <!--<div class='styled-select slate floatLeft'>-->
            <select id="selectChild" onchange="javascript:location.href = '/deelnemers/' + this.value;">
                <option value="" disabled selected>Selecteer kind</option>
                {{#each childs}}
                    <option value="{{this.guid}}">{{ this.first_name }} {{ this.last_name }}</option>
                {{/each}}
            </select>
        <!--</div>-->
    </div>
</div>    
<div class='col-md-12'>
    <hr>   
    <h4>Algemene gegevens</h4>
    <table id='generalTable' class="table table-striped table-bordered">
        <colgroup>
            <col style="width:30%" />
            <col style="width:70%" />
        </colgroup>
        <tbody>
            <tr>
                <td>Naam</td>
                <td>{{ data.first_name }} {{ data.last_name }}</td>
            </tr>
            <tr>
                <td>Geslacht</td>
                <td>{{#if (if_ql data.gender 1)}}Jongen{{else}}Meisje{{/if}}</td>
            </tr>
            <tr>
                <td>Adres</td>
                <td>{{ data.address }}</td>
            </tr>
            <tr>
                <td>Plaats</td>
                <td>{{ data.city }}</td>
            </tr>
            <tr>
                <td>Telefoonnummer ouder</td>
                <td>{{ data.tel_nr }}</td>
            </tr>
            <tr>
                <td>Email ouder</td>
                <td>{{ data.email }}</td>
            </tr>
            <tr>
                <td>Startnummer</td>
                <td>{{ data.start_nr }}</td>
            </tr>
            <tr>
                <td>Registratie nummer</td>
                <td>{{ data.registration_nr }}</td>
            </tr>
        </tbody>
    </table>
    
    <h4>Team gegevens</h4>
    <table id='generalTable' class="table table-striped table-bordered">
        <colgroup>
            <col style="width:30%" />
            <col style="width:70%" />
        </colgroup>
        <tbody>
            <tr>
                <td>Teamnaam</td>
                <td>{{ data.name }}</td>
            </tr>
            <tr>
                <td>Individuele punten</td>                 
                <td class='individualScore' ref='{{data.guid}}'></td>
            </tr>
            <tr>
                <td>Team punten</td>                 
                <td id='teamScore{{data.guid}}'></td>
            </tr>
            <tr>
                <td>Teamleider</td>
                <td>{{ data.first_name_teamleader }} {{ data.last_name_teamleader }} <span class="glyphicon glyphicon-envelope messageTeamleader icon" aria-hidden="true" ref="{{data.guid_teamleader}}"></span></td>
            </tr>
        </tbody>
    </table>

    <h4>Medische gegevens</h4>
    <table id='medicalTable' class="table table-striped table-bordered">
        <colgroup>
            <col style="width:30%" />
            <col style="width:70%" />
        </colgroup>
        <tbody>
            <tr>
                <td>Classificaties</td>
                <td class='dataTableSecondRow'>{{#each data.classifications}}{{this}}&nbsp;&nbsp;{{/each}}</td>
            </tr>
            <tr>
                <td>Bijzonderheden</td>
                <td class='dataTableSecondRow'>{{#each data.traits}}{{this}}&nbsp;&nbsp;{{/each}}</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="/javascripts/index.js"></script> 
