<div class='row col-lg-12'>
    <h3>Ranking</h3>
    <select onchange="javascript:location.href = '/ranking/' + this.value;">
        <option selected="selected">Sorteren op</option>
        <option value="oplopend">Score oplopend</option>
        <option value="aflopend">Score aflopend</option>
    </select>
    <br><br>
</div>
<div class='row'>
    <div class="col-lg-6">
        <h4>Ranking deelnemers</h4>
        <div id="scrollContainer">
        <table id='rankingTable' class="table table-striped scroll">
            <thead>
                <th>Naam</th>
                <th>Team</th>
                <th>Punten</th>
            </thead>
            <colgroup>
                <col style="width:44%" />
                <col style="width:44%" />
                <col style="width:12%" />
            </colgroup>
            <tbody>
                {{#each particRanking}}
                    <tr>
                        <td class="tableRow">{{{this.name}}}</td>
                        <td class="tableRow">{{{this.teamName}}}</td>
                        <td class="tableRow">{{{this.score}}}</td>
                    </tr>
                {{/each}}         
            </tbody>
        </table>
        </div>
    </div>
     <div class="col-lg-6">    
        <h4>Ranking teams</h4>
        <table id='teamRankingTable' class="table table-striped scroll">
            <thead>
                <th>Teamnaam</th>
                <th>Punten</th>
            </thead>
            <colgroup>
                <col style="width:88%" />
                <col style="width:12%" />
            </colgroup>
            <tbody>
                {{#each teamRanking}}
                    <tr>
                        <td class="tableRow">{{{this.name}}}</td>
                        <td class="tableRow">{{{this.score}}}</td>
                    </tr>
                {{/each}}         
            </tbody>
        </table>
        
        <h4>Ranking meisjes/jongens</h4>
        <table id='genderRankingTable' class="table table-striped scroll">
            <thead>
                <th>meisjes/jongens</th>
                <th>Punten</th>
            </thead>
            <colgroup>
                <col style="width:88%" />
                <col style="width:12%" />
            </colgroup>
            <tbody>
                {{#each gnderRanking}}
                    <tr>
                        <td class="tableRow">{{{this.name}}}</td>
                        <td class="tableRow">{{{this.score}}}</td>
                    </tr>
                {{/each}}         
            </tbody>
        </table>
    </div>
</div>