<div class='row col-lg-12'>
    <h3>Ranglijst</h3>
    <select id="selectSort">
        <option value="oplopend">Score oplopend</option>
        {{#if (if_ql sortOrder "aflopend")}}
            <option selected value="aflopend">Score aflopend</option>
        {{else}}
            <option value="aflopend">Score aflopend</option>
        {{/if}}
    </select>
    <select id="selectGender">
        {{#if (if_ql sortGender "beide")}}
            <option selected value="beide">Sorteer op jongens/meisjes</option>
        {{else}}
            <option value="beide">Sorteer op jongens/meisjes</option>
        {{/if}}
        {{#if (if_ql sortGender "jongens")}}
            <option selected value="jongens">Sorteer op jongens</option>
        {{else}}
            <option value="jongens">Sorteer op jongens</option>
        {{/if}}
        {{#if (if_ql sortGender "meisjes")}}
            <option selected value="meisjes">Sorteer op meisjes</option>
        {{else}}
            <option value="meisjes">Sorteer op meisjes</option>
        {{/if}}
    </select>
    <button id='sortButton'>Filter</button>
    <br><br>
</div>
<div class='row'>
    <div class="col-lg-6">
        <h4>Ranglijst deelnemers</h4>
        <div id="scrollContainer">
        <table id='rankingTable' class="table table-striped">
            <thead>
                <th>Naam</th>
                <th>Team</th>
                <th>Punten</th>
            </thead>
            <colgroup>
                <col style="width:44%" />
                <col style="width:44%" />
                <col style="width:12%" />
            </colgroup>
            <tbody>
                {{#each participantsRanking}}
                    <tr>
                        <td class="tableRow">{{this.name}}</td>
                        <td class="tableRow">{{this.teamName}}</td>
                        <td class="tableRow">{{this.score}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
    </div>
     <div class="col-lg-6">
        <h4>Ranglijst teams</h4>
        <table id='teamRankingTable' class="table table-striped">
            <thead>
                <th>Teamnaam</th>
                <th>Punten</th>
            </thead>
            <colgroup>
                <col style="width:88%" />
                <col style="width:12%" />
            </colgroup>
            <tbody>
                {{#each teamRanking}}
                    <tr>
                        <td class="tableRow">{{this.name}}</td>
                        <td class="tableRow">{{this.score}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <h4>Ranglijst meisjes/jongens</h4>
        <table id='genderRankingTable' class="table table-striped">
            <thead>
                <th>Meisjes/jongens</th>
                <th>Punten</th>
            </thead>
            <colgroup>
                <col style="width:88%" />
                <col style="width:12%" />
            </colgroup>
            <tbody>
                {{#each genderRanking}}
                    <tr>
                         {{#if (if_ql this.score "0")}}
                        {{else}}
                            <td class="tableRow">{{this.name}}</td>
                            <td class="tableRow">{{this.score}}</td>
                        {{/if}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="/javascripts/ranking.js"></script>
